card-locked {
    
    ion-card-header{
        text-align: center;
    }
    ion-icon.img{
        font-size: 7rem;
    }
    p{
        text-align: center;
    }
    ion-card{
        min-height: 20rem;
    }
}
