page-puntos {
    
    ion-card-header{
        text-align: center;
    }
    h1.puntos{
        font-size: 15rem;
    }
    p{
        text-align: center;
    }
    ion-card{
        min-height: 20rem;
    }
}
